
---
layout: ""
page_title: "Provider: Secure Access"
description: |-
  The Secure Access provider provides resources to interact with a Cisco Secure Access (CSA).

---

# Secure Access Provider

The Secure Access provider provides resources to interact with a Cisco Secure Access (CSA) instances. It communicates with target via the REST API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
